.input {
  background-color: #888888;
  border-bottom: 1px solid #000000;
  display: flex;
  padding: 1rem;
}

.input__field {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 1rem;
  min-height: 3rem;
  overflow: auto;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.input__button {
  border: 1px solid #000000;
  cursor: pointer;
  font: inherit;
  margin-left: 1rem;
  outline: inherit;
  padding: 1rem;
}
